<!-- A small piece of html rendering a book object onto screen. -->
<!-- an object named 'book' is accessible -->
<div class="book_full">
	<section class="isbn">
		<p>ISBN: {{book.isbn}}</p>
		{% if book.source == "douban" %}
		<a href="{{book.douban_url}}" title="see this book on 豆瓣">
			<img src="/img/douban.png">
		</a>
		{% endif %}
	</section>
	<div class="upper_section">
		{% if book.img_link %}
		<div class="photo">
			<img src="{{book.img_link}}"/>
		</div>
		<div class="key_info width_restricted">
		{% else %}
		<div class="key_info">
		{% endif %}
		<!-- a <div> has been declared in { % if else endif % }-->
			<section class="title">
				<h1>
					<span class="important">{{book.title}}</span>
					{% if book.subtitle %}
					<span class="subtitle">{{book.subtitle}}</span>
					{% endif %}
				</h1>

				{% if book.title_original %}
				<h4>{{book.title_original}}</h4>
				{% endif %}
			</section>

			{% if book.authors %}
			<section class="authors">
				by <span class="names">{{book.authors|join(', ')}}</span>
				{% if book.authors_intro %}
				<span class="authors_intro">{{book.authors_intro}}</span>
				{% endif %}
			</section>
			{% endif %}

			{% if rating %}
			<section class="rating_mine" title="max: {{rating.max_score}}">
				Mine:
				{% for num in range(rating.score) %}
				★
				{% endfor %}
			</section>
			{% endif %}

			<section>
				{% if book.rating_avg %}
				Rated <strong>{{book.rating_avg}}</strong> (of {{book.rating_max}}) by {{book.rating_num}} persons 
				{% else %}
				Only rated by {{book.rating_num}} person(s)
				{% endif %}
			</section>

			<section>
				{% if booklist_name %}
				<span class="list_info">{{booklist_name}}</span>
				{% else %}
				<span class="list_info">Not in any list</span>
				{% endif %}
			</section>
		</div>
	</div>

	<div class="lower_section">
		<section>
			<span class="name">Comment:</span>
			<details>
				<summary>
					{% if comment %}
					{{comment.comment}}
					{% else %}
					No comment yet
					{% endif %}
				</summary>
				<form method="post" class="comment_input">
					<textarea name="comment" placeholder="Add your comment here">{{comment.comment}}</textarea>
					<input type="submit" value="Edit">
				</form>
			</details>
		</section>

		{% if tags %}
		<section>
			<span class="name">My tags</span>:
			<p>
				{% for t in tags.names %}
				<span class="tag_mine">{{t}}</span>
				{% endfor %}
			</p>
		</section>
		{% endif %}

		{% if book.tags_others_name %}
		<section>
			<span class="name">Popular tags</span>:
			<p>
				{% for t in book.tags_others_name %}
				<span class="tag_others">{{t}}</span>
				{% endfor %}
			</p>
		</section>
		{% endif %}

		{% if book.translators %}
		<section>
			<span class="name">Translators</span>:
			<p>{{book.translators|join(', ')}}</p>
		</section>
		{% endif %}

		{% if book.summary %}
		<section>
			<span class="name">Summary</span>:
			<p>{{book.summary}}</p>
		</section>
		{% endif %}


		{% if book.publisher or book.published_date %}
		<section>
			<span class="name">Published</span>
			{% if book.publisher %}
			by {{book.publisher}}
			{% endif %}
			{% if book.published_date %}
			in {{book.published_date}}
			{% endif %}
		</section>
		{% endif %}

		{% if book.pages %}
		<section>
			<span class="name">Pages: </span>
			{{book.pages}}
		</section>
		{% endif %}

		{% if book.price_amount %}
		<section>
			<span class="name">Price:</span>
			{{book.price_amount}}
			{% if book.price_unit %}
			({{book.price_unit}})
			{% endif %}
		</section>
		{% endif %}
	</div>
</div>
