<!-- A small piece of html rendering a book object onto screen. -->
<!-- an object named 'brief' is accessible -->
<div class="book_brief">
	{% if brief.book.img_link %}
	<img src="{{brief.book.img_link}}"/>
	{% endif %}

	<div class="texts">
		<section class="title">
			<a href="/book/{{brief.book.isbn}}">
				<h2 class="important">
					{{brief.book.title}}
				</h2>
			</a>

			{% if brief.book.subtitle %}
			<span class="subtitle">{{ brief.book.subtitle }}</span>
			{% endif %}
		</section>

		{% if brief.book.authors %}
		<section class="authors">
			<h4>{{brief.book.authors|join(', ')}}</h4>
			{% if brief.book.authors_intro %}
			<span class="authors_intro">{{brief.book.authors_intro}}</span>
			{% endif %}
		</section>
		{% endif %}

		{% if brief.rating %}
		<section class="rating_mine" title="max: {{brief.rating.max_score}}">
			{% for num in range(brief.rating.score) %}
			<img src="/img/star_black.png">
			{% endfor %}
		</section>
		{% endif %}

		{% if brief.book.rating_avg %}
		<section class="rating_others">
			Rated <strong>{{brief.book.rating_avg}}</strong> (of {{brief.book.rating_max}}) by {{brief.book.rating_num}} persons 
		</section>
		{% endif %}

		{% if brief.tags %}
		<section class="tags_mine">
			<p>My tags:</p>
			{% for t in brief.tags.names %}
			<span class="tag_mine">
				<a href="/tags?t={{t}}">{{t}}</a>
			</span>
			{% endfor %}
		</section>
		{% elif brief.book.tags_others_name %}
		<section class="tags_others">
			<p>Popular tags:</p>
			{% for t in brief.book.tags_others_name %}
			<span class="tag_others">{{t}}</span>
			{% endfor %}
		</section>
		{% endif %}

		{% if brief.book %}
		{% set tj_status = brief.book.get_tongji_description() %}
		{% endif %}
		{% if tj_status %}
		<section>
			{{tj_status}}
		</section>
		{% endif %}
	</div>

	<div class="links">
		{% if brief.book.tongji_url %}
		<a href="{{brief.book.tongji_url}}" title="see this book in Tongji Library" target="_blank">
			<img src="/img/tongji.png">
		</a>
		{% endif %}
		{% if brief.book.douban_url %}
		<a href="{{brief.book.douban_url}}" title="see this book on 豆瓣" target="_blank">
			<img src="/img/douban.png">
		</a>
		{% endif %}
	</div>

	{% if brief.updated_time %}
	<div class="updated">
		Updated: {{brief.updated_time}}
	</div>
	{% endif %}
</div>
