<!-- A small piece of html rendering a book object onto screen. -->
<!-- an object named 'book' is accessible -->
<div class="book_full">
	<section class="isbn">
		<p>ISBN: {{book.isbn}}</p>
		{% if book.tongji_url %}
		<a href="{{book.tongji_url}}" title="see this book in Tongji Library" target="_blank">
			<img src="/img/tongji.png">
		</a>
		{% endif %}
		{% if book.source == "douban" %}
		<a href="{{book.douban_url}}" title="see this book on 豆瓣" target="_blank">
			<img src="/img/douban.png">
		</a>
		{% endif %}
	</section>
	<div class="upper_section">
		{% if book.img_link %}
		<div class="photo">
			<img src="{{book.img_link}}"/>
		</div>
		<div class="key_info width_restricted">
		{% else %}
		<div class="key_info">
		{% endif %}
		<!-- a <div> has been declared in { % if else endif % }-->
			<section class="title">
				<h1>
					<span class="important">{{book.title}}</span>
					{% if book.subtitle %}
					<span class="subtitle">{{book.subtitle}}</span>
					{% endif %}
				</h1>

				{% if book.title_original %}
				<h4>{{book.title_original}}</h4>
				{% endif %}
			</section>

			{% if book.authors %}
			<section class="authors">
				by <span class="names">{{book.authors|join(', ')}}</span>
				{% if book.authors_intro %}
				<span class="authors_intro">{{book.authors_intro}}</span>
				{% endif %}
			</section>
			{% endif %}

			<details>
				{% macro draw_star(times) %}
					{% for num in range(times) %}
					<img src="/img/star_black.png" class="rating_star"/>
					{% endfor %}
				{% endmacro %}
				{% macro draw_text() %}
					<em>Not rated yet</em>
				{% endmacro %}

				{% if book.rating_avg %}
				<summary>
					<span title="Rated {{book.rating_avg}} (out of {{book.rating_max}}) by {{book.rating_num}} people">
						{% if rating %}
							{{draw_star(rating.score)}}
						{% else %}
							{{draw_text()}}
						{% endif %}
					</span>
				</summary>
				{% else %}
				<summary>
					<span title="Only rated by {{book.rating_num}} person(s)">
						{% if rating %}
							{{draw_star(rating.score)}}
						{% else %}
							{{draw_text()}}
						{% endif %}
					</span>
				</summary>
				{% endif %}

				<form method="post" class="rating_input">
					<input type="radio" name="type" value="rating" checked>
					<div>
						{% for idx in range(5) %}
							{% set num = idx + 1 %}
							{% if rating and rating.score == num %}
							<input type="radio" name="rating" value="{{num}}" id="radio_{{num}}" checked/>
							{% else %}
							<input type="radio" name="rating" value="{{num}}" id="radio_{{num}}"/>
							{% endif %}
							<label for="radio_{{num}}">{{num}}</label>
						{% endfor %}
					</div>
					<div>
						<input type="radio" name="rating" value="clear" id="radio_clear">
						<label for="radio_clear">clear</label>
						<input type="submit" value="Edit"/>
					</div>
				</form>
			</details>

			<section>
			</section>

			<details>
				{% if booklist_name %}
				<summary>
					<span class="list_info">{{booklist_name}}</span>
				</summary>
				{% else %}
				<summary>
					<span class="list_unselected">Not in any list</span>
				</summary>
				{% endif %}

				<form method="post" class="list_edit" onsubmit="return ab.confirm_list_selection();">
					<input type="radio" name="type" value="booklist" checked>
					<div class="first_row">
						{% for list_name in ["Interested", "Reading", "Done"] %}
							{% if list_name == booklist_name %}
							<input type="radio" name="booklist" value="{{list_name}}" id="radio_{{list_name}}" checked/>
							{% else %}
							<input type="radio" name="booklist" value="{{list_name}}" id="radio_{{list_name}}"/>
							{% endif %}
							<label for="radio_{{list_name}}">{{list_name}}</label>
						{% endfor %}
					</div>
					<div class="second_row">
						<input type="radio" name="booklist" value="remove" id="radio_list_remove"/>
						<label for="radio_list_remove">remove</label>
						<input type="submit" value="Edit"/>
					</div>
				</form>
			</details>
			<section>

			</section>
		</div>
	</div>

	<div class="lower_section">
		<section>
			<span class="name">Comment:</span>
			<details>
				<summary>
					{% if comment %}
					{{comment.comment}}
					{% else %}
					<em>No comment yet</em>
					{% endif %}
				</summary>
				<form method="post" class="comment_input">
					<input type="radio" name="type" value="comment" checked>
					<textarea name="comment" placeholder="Add your comment here">{% if comment %}{{comment.comment}}{% endif %}</textarea>
					<input type="submit" value="Edit">
				</form>
			</details>
		</section>

		<section>
			<span class="name">My tags</span>:
			<p>
				<details>
					<summary>
					{% if tags %}
						{% for t in tags.names %}
						<span class="tag_mine">{{t}}</span>
						{% endfor %}
					{% else %}
						<em>No tags yet</em>
					{% endif %}
					</summary>

					<form method="post" class="comment_input">
						<input type="radio" name="type" value="tags" checked>
						<textarea name="tags" placeholder="Add your tags here, separated by whitespaces">{% if tags %}{{tags.names|join(' ')}}{% endif %}</textarea>
						<input type="submit" value="Edit">
					</form>
				</details>
			</p>
		</section>

		{% if book.tags_others_name %}
		<section>
			<span class="name">Popular tags</span>:
			<p>
				{% for t in book.tags_others_name %}
				<span class="tag_others">{{t}}</span>
				{% endfor %}
			</p>
		</section>
		{% endif %}

		{% if book.translators %}
		<section>
			<span class="name">Translators</span>:
			<p>{{book.translators|join(', ')}}</p>
		</section>
		{% endif %}

		{% if book.summary %}
		<section>
			<span class="name">Summary</span>:
			<p>{{book.summary}}</p>
		</section>
		{% endif %}

		{% if book.tongji_id %}
		<section>
			<span class="name">Status in Tongji:</span>
			<p>
				<span title="索书号">{{book.tongji_id}}</span>,
				{{book.get_tongji_description()}}
			</p>
		</section>
		{% endif %}

		{% if book.publisher or book.published_date %}
		<section>
			<span class="name">Published</span>
			{% if book.publisher %}
			by {{book.publisher}}
			{% endif %}
			{% if book.published_date %}
			in {{book.published_date}}
			{% endif %}
		</section>
		{% endif %}

		{% if book.pages %}
		<section>
			<span class="name">Pages: </span>
			{{book.pages}}
		</section>
		{% endif %}

		{% if book.price_amount %}
		<section>
			<span class="name">Price:</span>
			{{book.price_amount}}
			{% if book.price_unit %}
			({{book.price_unit}})
			{% endif %}
		</section>
		{% endif %}
	</div>
</div>
