{% extends "base.html" %}

{% block body_content %}
	<nav>
		<ul>
			<!-- (name, link, level)-->
			{% set nav_bar_items = [
				('Home', '/', 'level_one'),
				('Book Lists', '/booklists', 'level_one'),
				('Interested', '/booklists/interested', 'level_two'),
				('Reading', '/booklists/reading', 'level_two'),
				('Done', '/booklists/done', 'level_two'),
				('Tags', '/tags', 'level_one'),
				('Recommendation', '/recommendation', 'level_one'),
				("What's next", '/recommendation/whatsnext', 'level_two'),
				('Random!', '/recommendation/random', 'level_two'),
				('Guess you like', '/recommendation/guess', 'level_two'),
				('Me', '/me', 'level_one')
			] -%}
			{% for nav_name, nav_link, nav_level in nav_bar_items %}
			<a href="{{nav_link}}"><li class="{{nav_level}} {% if nav_name == active_nav %}active{% endif %}">{{nav_name}}</li></a>
			{% endfor %}
		</ul>
		<form action="/search" class="search">
			<input type="submit" value=""/>
			<input type="search" name="q" placeholder="ISBN or tag name"/>
		</form>
	</nav>
	<div class="major_without_nav">
		{% block body_content_with_nav %}
		{% endblock body_content_with_nav %}
	</div>
{% endblock body_content %}
