{% extends "base.html" %}

{% block body_content %}
	<nav>
		<ul>
			<li class="level_one">Home</li>
			<a href="/explore"><li class="level_one">Explore</li></a>
			<a href="/explore/random"><li class="level_two">Random!</li></a>
			<li class="level_one">Me</li>
		</ul>
		<form action="/search" class="search">
			<input type="submit" value=""/>
			<input type="search" name="keywords"/>
		</form>
	</nav>
	<div class="major_without_nav">
		{% block body_content_with_nav %}
		{% endblock body_content_with_nav %}
	</div>
{% endblock body_content %}
