<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Andriy Lin"/>
    <title>{% block head_title %}{% endblock %} -- Andriy Books</title>

    <!-- Open Sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" type="text/css" href="/css/base.less"/>
    {% block head_less %}
    {% endblock head_less %}
    <script type="text/javascript" src="/js/less.js"></script>

    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <div class="whole_container">
        <header>
            <div class="content">
                <a href="/">
                    <div class="icon">
                        <b>Andriy</b>
                        <br/>
                        <b>Books</b>
                    </div>
                </a>

                {% if user %}
                <!-- TODO Logged in, show user information -->
                <p>{{user}}</p>
                {% else %}
                <!-- Not logged in -->
                <div class="auth">
                    <button>Log in</button>
                    <button>Sign up</button>
                </div>
                {% endif %}
            </div>
        </header>

        <!-- The contents are put in the middle. -->
        <div class="major content">
            {% block body_content %}
            {% endblock body_content %}
        </div>

        <footer>
            <div class="content">
                <section class="column">
                    <h3>About "Andriy Books"</h3>
                    <ul>
                        <li>My graduation project!</li>
                        <li>
                            <a href="https://developers.google.com/appengine/">
                                <img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine"/>
                            </a>
                        </li>
                        <li>Source code available on <a href="https://github.com/lxk19921205/Books">Github</a></li>
                        <li>Any feedback? <a href="mailto:lxk19921205@gmail.com">Email me</a></li>
                    </ul>
                </section>
                <section class="column">
                    <h3>About Me</h3>
                    <ul>
                        <li>Call me Andriy or 康康 :D</li>
                        <li>Love reading, hope this website helps</li>
                        <li>Currently a student at Tongji, going to Purdue in Aug.</li>
                        <li>See me on <a href="http://weibo.com/andriylin/">Weibo</a>.</li>
                        <li>See me on <a href="https://twitter.com/AndriyLin">Twitter</a>.</li>
                    </ul>
                </section>
                <section class="column">
                    <h3>Thanks</h3>
                    <ul>
                        <li>Icons from <a href="http://icons8.com/">Icons 8</a></li>
                        <li>Thanks to my roommates, my parents, and everyone loves me or loved by me</li>
                    </ul>
                </section>
            </div>
            <div class="content">
                <h6 class="copyright">@2013 Andriy Lin</h6>
            </div>
        </footer>
    </div>
</body>
</html>
