{% extends "base_nav.html" %}
<!-- no need to set active_nav, it is passed in by server -->

{% block head_title %}{{title}}{% endblock %}

{% block head_less %}
	<link rel="stylesheet" type="text/less" href="/css/_book_brief.less"/>
	<link rel="stylesheet" type="text/less" href="/css/booklist.less"/>
{% endblock head_less %}

{% block head_js %}
	<script type="text/javascript" src="/js/booklist.js"></script>
{% endblock head_js %}

{% block body_content_with_nav %}
	<!-- Place for BookList's information -->
	<div class="booklist">
		<div class="name">
			<h1>{{booklist.name}}</h1>
		</div>
		{% if bookbriefs %}
		<table class="status">
			<tbody>
				<tr>
					{% if prev_url %}
					<td>
						<a href="{{prev_url}}" title="previous">
							<img src="/img/left.png">
						</a>
					</td>
					{% endif %}
					<td>
						<h3>
							{{start}} to {{end}} ({{booklist.size()}})
						</h3>
					</td>
					{% if next_url %}
					<td>
						<a href="{{next_url}}" title="following">
							<img src="/img/right.png">
						</a>
					</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		{% else %}
		<div class="status">
			<h3>
				{% if booklist.size() > 1 %}
					({{booklist.size()}} books)
				{% elif booklist.size() > 0 %}
					({{booklist.size()}} book)
				{% endif %}
			</h3>
		</div>
		{% endif %}

		<!-- not used yet
		{% if booklist.note %}
		<h3>{{booklist.note}}</h3>
		{% endif %}
		-->

		<div class="operations">
			<form>
				<!-- (name, sortby) -->
				{% set sort_type_items = [
					('Updated time', 'time'),
					('Online rating', 'public_rating'),
					('My rating', 'user_rating'),
					('Rated amount', 'rated_amount'),
					('Pages count', 'pages')
				] -%}

				<input type="submit" value="Sort by">
				<select name="sortby">
					{% for name, by in sort_type_items %}
					<option value="{{by}}" {% if sortby == by %}selected{% endif %}>
						{{name}}
					</option>
					{% endfor %}
				</select>
			</form>

			{% if (not booklist.is_importing()) and bookbriefs %}
			<!-- When books are all imported, show the refresh options -->
			<form method="post" id="action_form">
				<input type="submit" value="Refresh">
				<select name="type" id="action_select">
					<option></option>
					<option value="douban" title="Update each book's public information">all books from douban</option>
					<option value="tongji" title="Update each book's status in TJ Library">all books in Tongji</option>
					<option value="import" title="Delete local records and import again">RE-IMPORT</option>
				</select>
			</form>
			{% elif booklist.is_importing() %}
			<h4>
				Importing : {{booklist.size()}} / {{booklist.douban_amount}} ({{booklist.importing_progress()|round(2)}}%)
			</h4>
			{% endif %}
		</div>
	</div>

	{% if bookbriefs %}
	<!-- There are books in the datastore, show them! -->
	<div>
		{% for brief in bookbriefs %}
			{% include "_book_brief.html" %}
		{% endfor %}
	</div>
	{% else %}
	<!-- No books fetched, consider importing from Douban? -->
	<section class="import_hint">
		{% if import_started %}
		<h1>Importing has started!</h1>
		<h3>It may take several minutes, refresh to see the loading progress.</h3>
		{% else %}
		<h1>No books here :(</h1>
		<h3>You may</h3>
		<ul>
			<li>
				Import from <img src="/img/douban.png" title="豆瓣"> and all following operations will sync to it.
				<form method="post">
					<input type="radio" name="type" value="import" checked/>
					<button class="import_button">Import Now</button>
				</form>
			</li>
			<li><a href="/explore/random">
				Randomly explore some?
			</a></li>
		</ul>
		{% endif %}
	</section>
	{% endif %}
{% endblock body_content_with_nav %}

{% block body_js %}
	<script type="text/javascript">
		ab.initBooklistActions();
	</script>
{% endblock body_js %}
