{% extends "base_nav.html" %}
{% set active_nav = "Me" -%}

{% block head_title %}Me{% endblock %}

{% block head_less %}
	<link rel="stylesheet" type="text/less" href="/css/me.less"/>
{% endblock head_less %}

{% block head_js %}
<!-- Nothing extra is needed -->
{% endblock head_js %}

{% block body_content_with_nav %}
	<div class="statistics">
		<h1>
			Glory
		</h1>
		<p>
			<em>Reading</em>
			<span class="important">{{reading_amount}}</span>
			books now
		</p>
		<p>
			<em>Interested</em> in
			<span class="important">{{interested_amount}}</span>
			books
		</p>
		<div>
			<p>
				Having <em>read</em>:
			</p>
			<table>
				<tbody>
					<tr>
						<td class="important">{{week_amount}}</td>
						<td>books for the past week!</td>
					</tr>
					<tr>
						<td class="important">{{month_amount}}</td>
						<td>books for the past month!</td>
					</tr>
					<tr>
						<td class="important">{{year_amount}}</td>
						<td>books for the past year!</td>
					</tr>
					<tr>
						<td class="important">{{done_amount}}</td>
						<td>books altogether!</td>
					</tr>
				</tbody>
			</table>
			<p class="hint">
				till {{current_time}}
			</p>
		</div>
	</div>
	<div class="me">
		{% if user.is_douban_connected() %}
		<h1>豆瓣 connected!</h1>
		<div class="douban_info">
			<p class="row">Welcome, {{user.douban_name}} ({{user.douban_uid}}) &lt;{{user.douban_signature}}&gt;!</p>
			<p class="row">{{user.douban_description}}</p>
			<form method="post" class="hint">
				<input type="submit" value="Disconnect"/>
			</form>
		</div>
		{% else %}
		<h3>To fully utilize this, you are encouraged to <a href="/auth/douban" target="_blank"> connect your 豆瓣 account</a>.</h3>
		{% endif %}
	</div>
{% endblock body_content_with_nav %}

{% block body_js %}
<!-- No extra js code is needed
	<script type="text/javascript">
	</script>
-->
{% endblock body_js %}
