{% extends "base.html" %}

{% block head_title %}Log in{% endblock %}

{% block head_less %}
	<link rel="stylesheet" type="text/less" href="/css/login.less"/>
{% endblock head_less %}

{% block head_js %}
	<script type="text/javascript" src="/js/auth.js"></script>
{% endblock head_js %}

{% block body_content %}
    <div class="login_form">
        <h1>Welcome back to your <em>book steward</em>!</h1>
        <form method="post" onsubmit="return validate_login();">
            <div class="row">
                <input id="email_field" type="email" name="email" value="{{email}}" placeholder="Email" class="center"/>
                {% if email_error %}
                <span class="error">{{email_error}}</span>
                {% endif %}
            </div>
            <div class="row">
                <input id="pwd_field" type="password" name="password" placeholder="Password" class="center"/>
                {% if pwd_error %}
                <span class="error">{{pwd_error}}</span>
                {% endif %}
            </div>
            <div class="row">
                <input type="checkbox" id="auto_checkbox" name="keep_logged_in" class="keep_logged_in" {{keep_logged_in}} placeholder="REMEM"></input>
                <label for="auto_checkbox">Auto login for 2 weeks</label>
            </div>
            <div class="row">
                <input type="submit" value="Log in"/>
                <a href="/" class="forgot">Forgot password?</a>
            </div>
        </form>
    </div>
{% endblock body_content %}