{% extends "base_nav.html" %}
<!-- no need to set active_nav, this is not related to any nav item. -->

{% block head_title %}{{title}}{% endblock %}

{% block head_less %}
	<link rel="stylesheet" type="text/less" href="/css/_book_full.less"/>
	<link rel="stylesheet" type="text/less" href="/css/onebook.less"/>
{% endblock head_less %}

{% block head_js %}
	<script type="text/javascript" src="/js/_book_full.js"></script>
{% endblock head_js %}

{% block body_content_with_nav %}
	{% if book %}
	<div class="onebook">
		{% include "_book_full.html" %}
	</div>
	{% else %}
	{% endif %}
{% endblock body_content_with_nav %}

{% block body_js %}
<!-- No extra js code is needed
	<script type="text/javascript">
	</script>
-->
{% endblock body_js %}
