{% extends "base.html" %}

{% block head_title %}Sign up{% endblock %}

{% block head_less %}
	<link rel="stylesheet" type="text/less" href="/css/login_signup.less">
{% endblock head_less %}

{% block head_js %}
	<script type="text/javascript" src="/js/signup.js"></script>
{% endblock head_js %}

{% block body_content %}
	<div class="signup_form">
		<h1>Welcome to your <em>book steward</em>!</h1>
	    <form method="post" onsubmit="return ab.validate_signup();">
	    	<div class="row">
                <input id="email_field" type="email" name="email" placeholder="Email"/>
                <span id="email_info" class="info">{{email_info}}</span>
	    	</div>
	    	<div class="row">
                <input id="pwd_field" type="password" name="password" placeholder="Password" pattern="^.{6,30}$"/>
                <span id="pwd_info" class="info"></span>
	    	</div>
	    	<div class="row">
                <input id="verify_field" type="password" name="verify" placeholder="Verify"/>
                <span id="verify_info" class="info"></span>
	    	</div>
	    	<div class="row">
                <input type="submit" value="Sign up"/>
	    	</div>
	    </form>
	</div>
{% endblock body_content %}

{% block body_js %}
	<script type="text/javascript">
		ab.init_signup();
	</script>
{% endblock body_js %}
