{% extends "base_nav.html" %}

{% block head_title %}Testing{% endblock %}

{% block head_less %}
    <link rel="stylesheet" type="text/less" href="/css/test.less"/>
{% endblock head_less %}

{% block head_js %}
<!-- Nothing extra is needed -->
{% endblock head_js %}

{% block body_content_with_nav %}
    <div class="msg">
        <h1>
            Message:
        </h1>
        <h3>
            {{msg}}
        </h3>
    </div>
{% endblock body_content_with_nav %}

{% block body_js %}
<!-- No extra js code is needed
    <script type="text/javascript">
    </script>
-->
{% endblock body_js %}
