@import "_const.less";
@import "_macro.less";


.not_found {
    .paper(90%, white, @bg_color);

    margin: 0px auto;
    padding: 50px;
    font-size: 1.2em;

    h1, h2, h3, h4, h5, h6 {
        .beautiful_font();
    }
}
