@import "_const.less";
@import "_macro.less";


/* Displaying the full set of properties of a book. Used in many htmls. */
.book_full {
    .paper(100%, white, @bg_color);

    h1, h2, h3, h4, h5, h6, p, section {
        .beautiful_font();
    }

    .isbn {
        position: absolute;
        right: 0px;
        padding: 15px;
        text-align: right;

        p {
            color: #ccc;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }

        img {
            height: 30px;
        }
    }

    .upper_section {
        padding: 30px;
        padding-top: 50px;
        padding-bottom: 10px;

        .photo {
            display: inline-block;

            img {
                max-width: 360px;
            }
        }

        .key_info {
            display: inline-block;
            padding-left: 10px;

            .title {
                font-size: 1.5em;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .subtitle {
                font-size: 0.8em;
            }
        }

        .width_restricted {
            max-width: 300px;
        }

        .authors {
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;

            .names {
                font-size: 1.2em;
            }

            .authors_intro {
                display: none;
            }

            &:hover .authors_intro, &:focus .authors_intro {
                display: block;
                position: absolute;
                border-radius: 3px;
                width: 400px;
                top: 2.5em;
                left: 2em;
                font-size: 14px;
                padding:  0.2em 0.6em;
                border: 1px solid #996633;
                background-color: #FFFF66;
                color: #000;
                text-indent: 14px;
            }
        }

        section {
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .list_info {
            border-radius: 3px;
            background-color: #f1c40f;
            color: white;
            padding: 3px;
        }
    }

    .lower_section {
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 10px;

        section {
            padding-top: 5px;
            padding-bottom: 5px;

            p {
                text-indent: 20px;
            }
        }

        .tag_mine, .tag_others {
            color: white;
            padding-left: 3px;
            padding-right: 3px;
        }

        .tag_mine {
            background-color: #7f8c8d;
        }

        .tag_others {
            background-color: #bdc3c7;
        }

        .name {
            font-weight: bold;
        }
    }

    .important {
        color: orange;
    }

}
