@import "_const.less";
@import "_macro.less";


/* Displaying the brief set of properties of a book. Used in many htmls. */
.book_brief {
    .paper(100%, white, @bg_color);
    padding: 20px;

    h1, h2, h3, h4, h5, h6, p, section {
        .beautiful_font();
    }

    img {
		max-width: 200px;
    }

    section {
		padding-top: 5px;
		padding-bottom: 10px;
    }

    .texts {
		display: inline-block;
		max-width: 400px;
		vertical-align: top;
		padding: 10px;

		.title {
			a {
				text-decoration: none;
				cursor: pointer;
			}

			h2 {
				display: inline-block;
			}

			.subtitle {
				font-size: 1em;
				padding-left: 5px;
			}
		}

		.authors {
            position: relative;

			.authors_intro {
				display: none;
			}

            &:hover .authors_intro, &:focus .authors_intro {
				z-index: 1;
                display: block;
                position: absolute;
                border-radius: 3px;
                width: 400px;
                top: 2em;
                left: 2em;
                font-size: 14px;
                padding:  0.2em 0.6em;
                border: 1px solid #996633;
                background-color: #FFFF66;
                color: #000;
                text-indent: 14px;
            }
		}

        .rating_mine img {
            height: 20px;
        }

		.tag_mine, .tag_others {
			padding-left: 3px;
			padding-right: 3px;
			font-size: 0.95em;
            color: white;
		}

        .tag_mine {
            background-color: #7f8c8d;
        }

        .tag_others {
            background-color: #bdc3c7;
        }
    }

    .links {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 10px;
        text-align: right;

        img {
			max-height: 25px;
        }
    }

    .updated {
        position: absolute;
        right: 0px;
        bottom: 0px;
        margin-right: 30px;
        margin-bottom: 5px;
        text-align: right;
        font-size: 0.8em;
        color: #ccc;
        z-index: 0;
    }

    .important {
		color: orange;
    }
}
