h1 {
	font-family: Verdana, Arial, Sans-serif;
}

.info {
    color: gray;
    font-size: 14px;
}

.error {
    color: red;
    font-size: 14px;
}

.correct {
    color: green;
    font-size: 14px;
}

.submit {
	float: right;
}
