@import "const.less";


html, body {
    /* The clouds color. */
    background-color: @bg_color;
    /* clear all the predefined margins & paddings. */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
}


.whole_container {
    min-height: 100%;
    position: relative;
}


.content {
    /* All contents will be in this container*/
    width: @total_width;
    margin: 0px auto;
}


header {
    background-color: white;

    /* The icon and its text */
    .icon {
        display: inline-block;
        height: 100px;
        padding: 10px 0px 10px 120px;

        background-image: url("/img/icon.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: left center;

        font-size: 2.718281828em;
        text-align: center;
    }

    /* Log in / sign up buttons */
    .auth {
        float: right;
        margin-top: 60px;

        button {
            width: 120px;
            padding: 5px;
            border: 1px solid #989898;
            border-radius: 3px;
            background-color: gray;
            box-shadow: 2px 2px 2px #ccc;
            color: #fff;
            font-size: 1.2em;
            text-shadow: 1px 1px 1px #666;

            &:hover, &:focus {
                cursor: pointer;
                background-color: gray;
                background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.15, gray),
                    color-stop(0.8, rgb(100, 100, 100))
                );
                background-color: blue;
            }
        }
    }
}


.major {
    padding: 20px;
    padding-bottom: (@footer_height + 20); /* Add some extra space to make it more beautiful */
}


footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: @footer_height;

    color: #bfbeb2;
    font-size: 0.9em;

    background-color: #3f4944;
    box-shadow:inset 1px 1px 9px #56564e;

    .column {
        display: inline-block;
        width: 32.5%;
        vertical-align: top;
        line-height: 1.2em;
    }

    a {
        text-decoration: none;
        color: white;
        &:link, &:visited {
            border-bottom: 1px dotted #000;
        }

        &:hover, &:focus, &:active {
            border-bottom-style: solid;
            font-style: italic;
        }
    }

    li {
        margin: 10px;
        &:hover, &:focus, &:active {
            color: white;
        }
    }

    h3 {
        text-decoration: underline;
        font-weight: normal;
    }

    .copyright {
        float: right;
    }
}
