@import "_const.less";
@import "_macro.less";


.me {
	.paper(100px, white, @bg_color);
	width: 100%;
	font-size: 1.2em;

	padding: 30px;

	h1, h2, h3, h4, h5, h6, p {
        font-family: "Open Sans", "Microsoft Yahei", sans-serif;
        color: #555;
        font-weight: 300;
        font-style: normal;
        padding: 0px;
        margin: 0px;
	}

	button {
		.green_button(150px);
		font-size: 1.2em;
	}

	a {
		.dotted_solid(orange);
	}

	.row {
		padding: 15px;
	}

	.douban_info {
		margin-left: 20px;
		margin-top: 30px;
		padding-bottom: 45px;
		text-indent: 30px;

		.hint {
			float: right;
			width: 300px;
			color: #ccc;
		}
	}
}
