@import "_const.less";
@import "_macro.less";


.statistics {
	.paper(90%, white, @bg_color);
	display: inline-block;
	margin-right: 5px;
	padding: 30px;
	font-size: 1.2em;

	h1, h2, h3, h4, h5, h6, p, td {
		.beautiful_font();
	}

	h1, h2, p {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.important {
		color: orange;
		text-align: center;
	}

	.hint {
		color: #aaa;
		font-size: 0.6em;
	}

	table {
		text-indent: 20px;
	}
}



.me {
	.paper(90%, white, @bg_color);
	font-size: 1.2em;

	padding: 30px;

	h1, h2, h3, h4, h5, h6, p {
		.beautiful_font();
	}

	button {
		.green_button(150px);
		font-size: 1.2em;
	}

	a {
		.dotted_solid(orange);
	}

	.row {
		padding: 15px;
	}

	.douban_info {
		margin-left: 20px;
		margin-top: 30px;
		padding-bottom: 30px;
		text-indent: 30px;

		.hint {
			float: right;
			right: 30px;
			color: #ccc;
		}

		input[type="submit"] {
			.green_button(100%);
			padding-left: 0;
			padding-right: 0;
		}
	}
}
