@import "_const.less";
@import "_macro.less";


.no_such_book {
    .paper(100px, white, @bg_color);
    width: 50%;

    margin: 0px auto;
    padding: 50px;
    font-size: 1.2em;

    .row, h1, h2, h3, h4, h5 {
        .beautiful_font();
    }

    h6 {
    	color: gray;
    	float: right;
    }

    .row {
    	padding: 10px;
    }

    h1 {
    	padding-left: 50px;
    }

    a {
        .dotted_solid(black);
    }
}


.book {
    .paper(100px, white, @bg_color);
    width: 100%;

    .isbn {
        float: right;
        color: #aaa;
        padding: 10px;
        margin: 10px;
    }

    .key_info {
        padding: 30px;
        div {
            display: inline-block;
        }
    }

    .authors {
        position: relative;

        .authors_intro {
            display: none;
        }

        &:hover .authors_intro, &:focus .authors_intro {
            display: block;
            position: absolute;
            border-radius: 3px;
            width: 320px;
            top: 2em;
            left: 2em;
            font-size: 14px;
            padding:  0.2em 0.6em;
            border: 1px solid #996633;
            background-color: #FFFF66;
            color: #000;
            text-indent: 14px;
        }
    }
}
